.results {
    /* flex-grow: 1; */
    background-color:#4e8c93;
    border-radius: 15px;
    color: white;
    width: 500px;
}
ul {
    list-style-type: none; 
    padding: 0; 
  }
  
  li {
    border-bottom: 1px solid #063b4f; 
    padding: 10px; 
    cursor: pointer; 
  }
  
  li:last-child {
    border-bottom: none; 
  }
  
  li:hover {
    background-color: #f0f0f0; 
    color: #063b4f;
  }
  h3{
    color: #063b4f;
  }
  
  .listView{
    display: flex;
    flex-direction: row;
    
  
  }
  .listViewTitle{
    display: flex;
    flex-grow: 4;
    justify-content: flex-start;

  }
  .listViewIcon{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }