.results {
    /* flex-grow: 1; */
    background-color:#4e8c93; /* Use RGBA for background color */
    border-radius: 15px;
    color: white;
}
ul {
    list-style-type: none; /* Removes default bullet points */
    padding: 0; /* Removes default padding */
  }
  
  li {
    border-bottom: 1px solid #063b4f; /* Adds a border to the bottom of each list item */
    padding: 10px; /* Adds some padding inside each list item for better readability */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over list items */
  }
  
  li:last-child {
    border-bottom: none; /* Removes the border from the last list item */
  }
  
  li:hover {
    background-color: #f0f0f0; /* Changes the background color of a list item when hovered */
  }
  